/* Mulai code Anda dari baris terakhir */

* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 170px 0 10px 0;
    background-image: url(based.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    margin-top: 50px;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 4px;
    font-size: 18px;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 35px 0;
  }
  
  .btn-wrapper p {
    margin: 15px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 200px;
    width: 100%;
    background-color: rgba(21, 22, 22, 0.9);
    position: 50%;
    border: 50px ;
    z-index: 10;
  }
  
  .logo {
    width: 170px;
    
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 40px;
    padding-bottom: 50px;
    color: #0e0f3f;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 450px 20px 20px 20px;
    background-color: white;
  }

  .header {
    background-color: aquamarine;
    padding: 20px;
  }

  .body {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 8px;
    border-color: coral;
  }

  button {
    background-color: orange;
    padding: 15px;
    border-radius: 20px;
    border-color: grey;
  }